body {
    background: rgb(197, 197, 197);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background: #fff;
}

header {
    background: cyan;
    height: 100px;
}

header h1 {
    padding: 35px 0 0 24px;
    color: #fff;
    text-transform: uppercase;
}

main section {
    display: flex;
    justify-content: space-between;
}

main section article {
    border: 1px solid red;
    width: 100%;
    max-width: 300px;
    height: 200px;
    /*flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}