* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #f5f5f5;
}

.contentMain {
margin: 0 auto;
/*largura*/
max-width: 1000px;
width: 100%;
}

header {
    /*Tamanho altura*/
    height: 100px;
    background: #222;
    /* COR DE TEXTO */
    color: #fff;
    /*FlexBox*/
    display: flex;
    border-bottom: 2px solid #191970;
}

.contentHeader {
    margin: 0 auto;
    /*largura*/
    max-width: 1000px;
    width: 100%;
 /*FlexBox*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 20px;
}

header nav ul{
    display: flex
}
header nav ul a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-size: 20px;
    padding: 20px;
}
header nav ul a:hover {
    text-decoration: underline;
    color: orange;
}

/*carrousel */
.carousel article {
    margin-top: 20px;
}
.carousel img {
    border-radius: 10px;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}
.card {
    background: #fff;
    padding: 20px;
}